* {margin:0; padding:0;}
body {font-family:Arial; font-weight:normal; font-size:16px; line-height:20px; color:#000;}

.main{width:1090px; margin:0 auto; display:block; overflow:hidden; background-color:#fff; color:#000;}

.h1,h3,h4 {margin-bottom: 50px;
margin-top: 55px;}


.fix {overflow:hidden; display:block;}

.MainHeader{margin-top: 40px;}
.MainHeader h1 {text-align:center;}
.MainHeader p {margin-top:20px; margin-bottom:30px;}
.MainHeader h2 {margin-bottom: 70px;
margin-top: 40px;
text-align: center; }
.Name{}
.NameTable{}
.table{border:1px solid #000;}
.td {border:none;}
.Hispanic{}
.
.Race{}
.Race1{width:360px;display:inline-block;}
.Race1 ul{list-style:none;}
.Race1 ul li{}

.Race2{width:360px;display:inline-block;}
.Race2 ul{list-style:none;}
.Race2 ul li{}

.Race3{width:360px;display:inline-block;}
.Race3 ul{list-style:none;}
.Race3 ul li{}

.Items{}
.ItemsTable{margin-top:50px; margin-bottom:40px;}
.Items1{width:360px;display:inline-block;}

.Items2{width:360px;display:inline-block;}

.Items3{width:360px;display:inline-block;}

.death{}
.TableLeft{display: inline-block;margin-right: 10px;padding-right:5px; width:920px;}
.TableLeft p{}
.TableRight{display: inline-block; width: 150px;}
.TableRight p{}
.Death1{width:530px;display:inline-block;}
.Death2{width:350px;display:inline-block;}
.Death3{display: inline-block; width: 200px;}
.Part2{margin-top:50px; margin-bottom:40px;}
.Autospy{}
.was{width:360px;display:inline-block;margin-top: 30px;}
.were{width:360px;display:inline-block;}
.did{width:360px;display:inline-block;}
.female{margin-bottom: 40px;}
.female hr {margin-bottom:40px;}
.MannerOfDeath{margin-top:50px; margin-bottom:40px;}
.MannerOfDeath hr {margin-bottom:40px;}
.Injury{margin-top:50px; margin-bottom:40px;}
.Injury hr {margin-bottom:40px;}
.Injury1 {width:272px;display:inline-block;}
.Injury2 {width:272px;display:inline-block;}
.Injury3{width:272px;display:inline-block;}
.Injury4{width:257px;display:inline-block;}
.LocationOfInjury{}
.LocationOfInjury hr{margin-bottom:40px;}
.state{}
.Location1{width:540px;display:inline-block;margin-bottom: 35px;}
.Location2{width:545px;display:inline-block;}
.Location3{display: inline-block;
width: 355px;}
.Location4{width:363px;display:inline-block;}
.Location5{width:363px;display:inline-block;}
.Describe{margin-top:50px; margin-bottom:40px;}
.Transportation{margin-top:50px; margin-bottom:40px;}

.Certifier{margin-top:50px; margin-bottom:40px;}
.Certifier h3{font-weight:normal}
.PersonCompleting{margin-top:50px; margin-bottom:40px;}
.PersonCompleting hr {margin-bottom:40px;}
.PersonCompleting1{display: inline-block;
width: 355px;}
.PersonCompleting2{width:363px;display:inline-block;}
.PersonCompleting3{width:363px;display:inline-block;margin-bottom:40px;}
.PersonCompleting4{display: inline-block;
width: 355px;}
.PersonCompleting5{width:363px;display:inline-block;}
.PersonCompleting6{width:363px;display:inline-block;margin-bottom:40px;}

.Submit{margin-top:10px; margin-bottom:50px; text-align:right;margin-right:50px;}

.footer{margin-top:40px;}
.footerLeft{width:505px;display:block; float:left; margin-left:40px;}
.footerRight {width:505px;display:block; float:right;text-align:right; margin-right:40px; }